# Домашнее задание №1. Pandas. numpy. Обработка данных.

## Ф.И.О: _________

Домашнее задание состоит из **2**-х частей: 
- **Первая часть** посвящена эффективной реализации функций подсчета расстояния с использованием библиотеки _numpy_.
- **Вторая часть** предполагает заполнение предложенного блокнота.

### Часть 0.
- Вписать Ваши ФИО в предложенное поле.


### Часть 1. (5 баллов)
- реализуйте функции для вычисления расстояния из модуля ``tasks`` с использованием _numpy_
- запрещается использовать циклы и конструкцию list comprehension
- запрещается использовать сторонние библиотеки(за исключением _numpy_)
- для проверки можете использовать предложенные unit-тесты
   - чтобы запустить их в консоли выполните:
      ``$ python -m unittest``

### Часть 2. (15 баллов)
- заполните предложенный блокнот кодом и ответами на вопросы, где это требуется

----------------------------------------

**На проверку требуется отправить zip архив, который будет содержать следующие файлы:**
 - модуль ``tasks.py`` с реализованными функциями
 - заполненный блокнот в формате ``.ipybn``
 - заполненный блокнот в формате ``.html`` **(File -> Save and Export Notebook As -> HTML -> ...)**
 - файл ``answer.csv``, который получится в результате работы над блокнотом

### Часть 2. (15 points)

----------------------------

#### __1__. (2 points)

__1.1__. Импортируйте все необходимые библиотеки.

In [7]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 100)
pd.set_option('display.precision', 3)

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

__1.2__. Загрузите файл `train.csv` и сохраните его в переменную `df`. Выведите первые 10 строчек таблицы.

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

,PERIOD,cl_id,MCC,channel_type,currency,TRDATETIME,amount,trx_category,target_flag,target_sum
0,01/10/2017,0,5200,NaN,810,21OCT17:00:00:00,5023.0,POS,0,0.0
1,01/10/2017,0,6011,NaN,810,12OCT17:12:24:07,20000.0,DEPOSIT,0,0.0
2,01/12/2017,0,5921,NaN,810,05DEC17:00:00:00,767.0,POS,0,0.0
3,01/10/2017,0,5411,NaN,810,21OCT17:00:00:00,2031.0,POS,0,0.0
4,01/10/2017,0,6012,NaN,810,24OCT17:13:14:24,36562.0,C2C_OUT,0,0.0
5,01/10/2017,1,5814,NaN,810,16OCT17:00:00:00,380.0,POS,0,0.0
6,01/10/2017,1,5814,NaN,810,10OCT17:00:00:00,378.0,POS,0,0.0
7,01/10/2017,1,5814,NaN,810,16OCT17:00:00:00,199.0,POS,0,0.0
8,01/10/2017,1,5814,NaN,810,11OCT17:00:00:00,400.0,POS,0,0.0
9,01/07/2017,1,5411,NaN,810,26JUL17:00:00:00,598.0,POS,0,0.0

In [ ]:
np.random.seed(9564)
index = np.random.choice(len(df), replace=False, size=1000)

__1.3__.1. Выведите размер получившейся таблицы.

In [5]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

table_size = "╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ"
print(f"Размер таблицы: {table_size}")

Размер таблицы: ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ

__1.3__.2. Выведите статистики (среднее, дисперссию, кванти́ли, количество значений и т.п.) по каждому из столбцов. Воспользуйтесь специальным методом у `df`.

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

            cl_id         MCC    currency     amount  target_flag  target_sum
count  490513.000  490513.000  490513.000  4.905e+05   490513.000   4.905e+05
mean     4802.127    5699.784     810.602  5.724e+03        0.653   1.627e+05
std      2986.493     662.933      38.223  7.704e+04        0.476   1.474e+06
min         0.000     742.000      32.000  4.000e-02        0.000   0.000e+00
25%      2193.000    5411.000     810.000  2.240e+02        0.000   0.000e+00
50%      4576.000    5661.000     810.000  6.240e+02        1.000   2.491e+04
75%      7390.000    5941.000     810.000  2.176e+03        1.000   1.516e+05
max     10215.000    9405.000     986.000  3.584e+07        1.000   4.607e+07

Опиание столбцов:
* PERIOD – месяц транзакции;
* cl_id – id клиента;
* MCC – код категории продавца;
* channel_type – канал привлечения клиента;
* currency – валюта;
* TRDATETIME – дата/время транзакции;
* amount – сумма транзакции;
* trx_category – вид транзакции.

Виды транзакций:
* POS – оплата через POS терминал;
* C2C_IN – перевод на карту (входящий платёж);
* C2C_OUT – перевод на карту (исходящий платёж);
* DEPOSIT – пополнение карты в банкомате;
* WD_ATM_PARTNER – снятие наличных в банкоматах партнерах банка *UNKNOWN*;
* WD_ATM_ROS – снятие наличных в банкоматах банка *UNKNOWN*;
* WD_ATM_OTHER – снятия в других банкоматах;
* BACK_TRX – возврат средств при возврате покупки;
* CAT – операции в банкоматах;
* CASH_ADV – снятие карты в кассе банка.

__1.4__. Какие столбцы имеют пропущенные значения? Сколько пропущенных значений?

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

__1.5__. Какие уникальные значения существуют у столбца `currency`?

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

__1.6__. Заполните пропуски в столбце `channel_type` значением `type0`. Результат должен сохраниться в переменной `df`.

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

In [ ]:
df.head()

,PERIOD,cl_id,MCC,channel_type,currency,TRDATETIME,amount,trx_category,target_flag,target_sum
0,01/10/2017,0,5200,type0,810,21OCT17:00:00:00,5023.0,POS,0,0.0
1,01/10/2017,0,6011,type0,810,12OCT17:12:24:07,20000.0,DEPOSIT,0,0.0
2,01/12/2017,0,5921,type0,810,05DEC17:00:00:00,767.0,POS,0,0.0
3,01/10/2017,0,5411,type0,810,21OCT17:00:00:00,2031.0,POS,0,0.0
4,01/10/2017,0,6012,type0,810,24OCT17:13:14:24,36562.0,C2C_OUT,0,0.0

__1.7__. Посчитайте, сколько записей приходится на каждое уникальное значение столбца `channel_type`.

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

__1.8__. Найдите топ-3 `MCC` категорий с наибольшим объемом трат.

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

----------------------------------

#### __2__. (1 point)

__2.1__. Сделайте значения в столбцах `channel_type` и `trx_category` категориальными.

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

__2.2__. Сделайте столбец `trx_category_mul`, которая показывает увеличение (значение в столбце равно +1) и уменьшение средств (значение в столбце равно -1) на счете клиента банка. Операции, которые увеличивают количество средств на счете:
`C2C_IN`, `DEPOSIT`, `BACK_TRX`. Считайте, что остальные операции уменьшают количество средств на счете.

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

In [ ]:
df.loc[:, ['trx_category_mul', 'trx_category']].head()

   trx_category_mul trx_category
0                -1          POS
1                 1      DEPOSIT
2                -1          POS
3                -1          POS
4                -1      C2C_OUT

-------------------------------------------------

#### __3__. (1 point)

__3.0__. Приведем столбец `TRDATETIME` к типу даты.

In [ ]:
from datetime import datetime

df["TRDATETIME"] = pd.to_datetime(df["TRDATETIME"], format='%d%b%y:%H:%M:%S')

Извлеките из столбца `TRDATETIME` следующие признаки:
* `mday` – день (с начала месяца);
* `ymonth` – месяц;
* `year` – год;
* `wday` – день недели;
* `is_weekend` – является ли день выходным днем.

Извлеченные признаки запишите в таблицу `df_time`.

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

# put your code here

In [ ]:
df_time.head()

   is_weekend  mday  wday  year  ymonth
0        True    21     5  2017      10
1       False    12     3  2017      10
2       False     5     1  2017      12
3        True    21     5  2017      10
4       False    24     1  2017      10

__3.1__. Объедините таблицы `df` и `df_time` и сохраните результат в `df`. При объединении используйте аргумент `sort=False`, если он имеется.

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

In [ ]:
df.head()

,PERIOD,cl_id,MCC,channel_type,currency,TRDATETIME,amount,trx_category,target_flag,target_sum,trx_category_mul,is_weekend,mday,wday,year,ymonth
0,01/10/2017,0,5200,type0,810,2017-10-21 00:00:00,5023.0,POS,0,0.0,-1,True,21,5,2017,10
1,01/10/2017,0,6011,type0,810,2017-10-12 12:24:07,20000.0,DEPOSIT,0,0.0,1,False,12,3,2017,10
2,01/12/2017,0,5921,type0,810,2017-12-05 00:00:00,767.0,POS,0,0.0,-1,False,5,1,2017,12
3,01/10/2017,0,5411,type0,810,2017-10-21 00:00:00,2031.0,POS,0,0.0,-1,True,21,5,2017,10
4,01/10/2017,0,6012,type0,810,2017-10-24 13:14:24,36562.0,C2C_OUT,0,0.0,-1,False,24,1,2017,10

--------------------------

#### __4__. (1 point)

__4.1__. Загрузите таблицу `mcc_codes_ru.csv` и сохраните в переменную `df_mcc`. Выведите первые 5 строчек таблицы.

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

# put your code here

,MCC,Название,Группа,Обновлено
0,742,Ветеринарные услуги,Контрактные услуги,31.01.18
1,763,Сельскохозяйственные кооперативы,Контрактные услуги,31.01.18
2,780,Услуги садоводства и ландшафтного дизайна,Контрактные услуги,31.01.18
3,1520,Генеральные подрядчики – жилое и коммерческое ...,Контрактные услуги,31.01.18
4,1711,"Генеральные подрядчики по вентиляции, теплосна...",Контрактные услуги,31.01.18

__4.2__. Переименуйте столбцы в `df_mcc` следующим образом:
* `MCC` -> `MCC`;
* `Название` -> `mcc_name`;
* `Группа` -> `mcc_group`;
* `Обновлено` -> `updated`.

Результат сохраните в `df_mcc`.

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

# put your code here

In [ ]:
df_mcc.head()

,MCC,mcc_name,mcc_group,updated
0,742,Ветеринарные услуги,Контрактные услуги,31.01.18
1,763,Сельскохозяйственные кооперативы,Контрактные услуги,31.01.18
2,780,Услуги садоводства и ландшафтного дизайна,Контрактные услуги,31.01.18
3,1520,Генеральные подрядчики – жилое и коммерческое ...,Контрактные услуги,31.01.18
4,1711,"Генеральные подрядчики по вентиляции, теплосна...",Контрактные услуги,31.01.18

__4.3__. Удалите столбец `updated` из `df_mcc`, результат сохраните в `df_mcc`.

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

# put your code here

In [ ]:
df_mcc.head()

    MCC                                           mcc_name           mcc_group
0   742                                Ветеринарные услуги  Контрактные услуги
1   763                   Сельскохозяйственные кооперативы  Контрактные услуги
2   780          Услуги садоводства и ландшафтного дизайна  Контрактные услуги
3  1520  Генеральные подрядчики – жилое и коммерческое ...  Контрактные услуги
4  1711  Генеральные подрядчики по вентиляции, теплосна...  Контрактные услуги

__4.4__. Закодируйте столбец `mcc_group` с помощью label-кодирования.

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

In [ ]:
df_mcc.head()

    MCC                                           mcc_name  mcc_group
0   742                                Ветеринарные услуги          6
1   763                   Сельскохозяйственные кооперативы          6
2   780          Услуги садоводства и ландшафтного дизайна          6
3  1520  Генеральные подрядчики – жилое и коммерческое ...          6
4  1711  Генеральные подрядчики по вентиляции, теплосна...          6

--------------------------------------
#### __5__. (2 points)

__5.1__. Присоедините к таблице `df` столбец `mcc_group`. Результат сохраните в `df`.

**Какой тип JOIN-а подойдет лучше всего для этой задачи?**

$\textcolor{red}{Ваш \ ответ:}$

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

df = # put your code here

In [ ]:
df.iloc[index].head()

,PERIOD,cl_id,MCC,channel_type,currency,TRDATETIME,amount,trx_category,target_flag,target_sum,trx_category_mul,is_weekend,mday,wday,year,ymonth,mcc_group
51305,01/06/2017,913,7230,type2,810,2017-06-14,2100.0,POS,1,449004.29,-1,False,14,2,2017,6,7.0
226863,01/07/2017,4183,5499,type1,810,2017-07-20,140.0,POS,1,132726.55,-1,False,20,3,2017,7,17.0
124479,01/11/2017,2253,5735,type2,810,2017-11-28,397.0,POS,1,59.00,-1,False,28,1,2017,11,15.0
11132,01/08/2017,225,5411,type4,810,2017-08-07,44.9,POS,1,466235.45,-1,False,7,0,2017,8,17.0
473017,01/03/2017,9869,5812,type1,810,2017-03-30,350.0,POS,0,0.00,-1,False,30,3,2017,3,15.0

----------------------------------------

#### __6__. (2 points) 
Выведите сумму, среднее и среднеквадратичное отклонение трат `amount` по каждой из категорий `trx_category` в рамках канала привлечения `channel_type`.

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

---------------------------------

#### __7__. (2 points) 

Выведите топ-5 клиентов, с наибольшим оборотом по `С2С` транзакциям. Под оборотом подразумевается полный объем полученных и переведенных средств без учета знака (т.е. не имеет значения получал ли клиент средства на свой счет, или переводил их на другой счет).

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

-------------------------------------------

#### __8__. (2 points) 

__8.1.__ Прологарифмируйте сумму трат `amount`, а результат сохраните в столбец `amount_log`. Как нужно логарифмировать, чтобы не было проблем при `amount == 0`?

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

__8.2__. Выполните onehot-кодирование для столбцов `channel_type` и `trx_category`. Полученные столбцы присоедините к таблице `df`, результат сохраните в переменную `df`.

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

# put your code here

In [ ]:
df.iloc[index].head()

,PERIOD,cl_id,MCC,channel_type,currency,TRDATETIME,amount,trx_category,target_flag,target_sum,trx_category_mul,is_weekend,mday,wday,year,ymonth,mcc_group,amount_log,channel_type_type0,channel_type_type1,channel_type_type2,channel_type_type3,channel_type_type4,channel_type_type5,trx_category_BACK_TRX,trx_category_C2C_IN,trx_category_C2C_OUT,trx_category_CASH_ADV,trx_category_CAT,trx_category_DEPOSIT,trx_category_POS,trx_category_WD_ATM_OTHER,trx_category_WD_ATM_PARTNER,trx_category_WD_ATM_ROS
51305,01/06/2017,913,7230,type2,810,2017-06-14,2100.0,POS,1,449004.29,-1,False,14,2,2017,6,7.0,7.650,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
226863,01/07/2017,4183,5499,type1,810,2017-07-20,140.0,POS,1,132726.55,-1,False,20,3,2017,7,17.0,4.949,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
124479,01/11/2017,2253,5735,type2,810,2017-11-28,397.0,POS,1,59.00,-1,False,28,1,2017,11,15.0,5.986,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
11132,01/08/2017,225,5411,type4,810,2017-08-07,44.9,POS,1,466235.45,-1,False,7,0,2017,8,17.0,3.826,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
473017,01/03/2017,9869,5812,type1,810,2017-03-30,350.0,POS,0,0.00,-1,False,30,3,2017,3,15.0,5.861,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0

-----------------------------------------

#### __9__. (2 points за правильную итоговую подтаблицу)

Сохраните итоговую подтаблицу в файл.

In [ ]:
df.iloc[index].to_csv('answer.csv', index=False, sep=',')

-----------------------------------------

## Бонусная часть (+3 балла)

Попробуйте придумать решающее правило (без использования алгоритмов машинного обучения), по которому можно было бы предсказать значение переменной `target_flag`. **Запрещается** использовать переменную `target_sum`.

Разобъем выборку на тренировочную и отложенную.

In [ ]:
from sklearn.model_selection import train_test_split

mask = df.columns.str.startswith('target_')

target_cols  = df.columns[mask]
feature_cols = df.columns[~mask]

X, y = df.loc[:, feature_cols], df.loc[:, target_cols]

X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size=0.3, shuffle=True, random_state=9872)

Ваше решение должно побить следующий бейзлайн:

```python
from sklearn.metrics import accuracy_score

assert accuracy_score(y_test['target_flag'], y_pred) > 0.7
```

**Запрещается** использовать отложенную выборку `(X_test, y_test)` для выбора решения.

**Вопрос:** Что показывает метрика `accuracy`?

$\textcolor{red}{Ваш \ ответ:}$

### Вопросы и подсказки

Исследуйте рапределения и зависимости между признаками отностительно целевой переменной `target_flag`. Для решения этой задачи вам может быть полезна визуализация.

1. Какие любопытные выводы можно сделать из такого анализа?
2. Какие проблемы возникают с визуализацией совместного распредления категориальных (дискретных) и непрерывных значений? Как эту проблему можно решить?
3. В исходном датасете очень много записей, поэтому визуализация может работать **неприемлемо** долго. Как решить эту проблему?

Приведите ниже код и комментарии с ответами на вопросы выше.

__Ответы на вопросы:__

**1.** _put your answers here_

**2.**  _put your answers here_

**3.** _put your answers here_

In [ ]:
# put your code here

### Решение

In [ ]:
#############################
### ╰( ͡° ͜ʖ ͡° )つ──────☆*:・ﾟ
#############################

In [ ]:
accuracy_score(y_test['target_flag'], y_pred)

0.7309009608981067